@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      
}
                                                /* Scrollbar*/
body::-webkit-scrollbar {
    width: 10px;              
  }
  
body::-webkit-scrollbar-track {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #30cfd0;    
    border-radius: 20px;       
    border: 3px solid #330867;  
  }

.header {                                        /* Navbar */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.header-img {
    height: 32px;
}

.header-menu {
    display: flex;
    gap: 20px;
}

.header-menu-item {
    font-family: 'Sarala', sans-serif; 
    font-weight: 400; 
    font-size: 15px; 
    color: #FFF2E7;
}

.header-menu-item:hover {
    color: #30cfd0;
}
                                                    /* FIm do Navbar*/

.content {                                         /* Section */
    margin-bottom: 40px;
    border-top: 0.4px solid #FFF2E7;
}

.main-content {                      
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content-written {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.main-content-written-title {
   font-family: 'Righteous', Impact; 
    font-weight: 600;
    font-size: 35px ;
    color: #FFF2E7;
}

.main-content-written-subtitle {
    font-family: 'Sarala', sans-serif ; 
    font-weight: 400;
    font-size: 15px;
    color: #FFF2E7;
}

.main-content-img {
    height: 250px;
    margin: 40px;
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}

.secondary-content-title {
    font-family: 'Righteous', Impact;
    font-weight: 600;
    font-size: 24px ; 
    color: #FFF2E7;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 40px;
    margin-bottom: 10px;
}

.secondary-content-paragraph {
    font-family: 'Sarala', sans-serif ;
    font-weight: 400;
    font-size: 16px; 
    color: #FFF2E7; 
}
                                                     /* Fim do Section*/
.footer {
    border-top: 0.4px solid #FFF2E7;
    padding: 30px;
}

.footer-img {
    height: 100px;
    display: block;
    margin: 0 auto;
}
                                                    /* Fim do Footer*/